Link :visited {
  text-decoration: none;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  position: relative;
  background-color: #c9c7c7;
  margin: 20px auto;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 4px 4px 5px grey;
}
.centre-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#header > :last-child {
  margin-left: auto;
}
.title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  flex: 1;
}
.login-buttons {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#topic-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: center;
  position: relative;
  background-color: #0081bd;
  border-radius: 5px;
  margin: 20px auto;
  margin-bottom: 0;
  box-shadow: 4px 4px 5px grey;
}
#topic-card a {
  text-decoration: none;
  color: inherit;
}
.topic-container {
  width: 80%;
}
.topic-list {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  text-align: center;
  width: 100%;
}
.topic-button {
  background-color: #79bcdc;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: auto;
  height: 100%;
  align-items: stretch;
}
.topic-button:hover {
  background-color: rgb(76, 76, 255);
  color: white;
}
#article-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(230, 163, 230);
  height: 75vh;
  border-radius: 5px;
  width: 100%;
  box-shadow: 5px 5px 5px grey;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-top: 20px;
  margin: 20px auto;
  padding-left: 0;
}
#main-body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  margin: 0 auto; /* This centers the element horizontally */

  position: relative;
  margin-bottom: 10px;
  border-radius: 5px;
}
.single-article {
  display: flex;
  width: 200px;
  height: auto;
  background-color: antiquewhite;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}
.single-article:hover {
  background-color: beige;
}
#single-article-data {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: rgb(230, 163, 230);

  height: 75vh;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;

  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 20px;
}
#comments {
  text-align: left;
}
.comment-buttons {
  display: flex;
  flex-direction: row;
}
.comment {
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
  padding: 10px 10px;
  border: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.sorting-list fieldset {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.dropbtn {
  padding-top: 0;
  font-size: 16px;
  border: none;
  background-color: transparent;
}
.sorting-dropdown {
  position: relative;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.dropdown-content button {
  text-align: left;
  min-width: 200px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content button:hover {
  background-color: #ddd;
}
.sorting-dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.login-button fieldset {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.login-dropdown {
  z-index: 1000;
  position: relative;
  float: right;
}

.login-dropdown:hover .dropdown-content {
  display: block;
}

#text-area {
  width: 100%;
  height: auto;
}

#comments-section {
  padding: 10px 10px;
}

#submit-button {
  height: 2rem;
  border-radius: 5px;
  background-color: #0081bd;
  color: white;
}

#vote-button-section {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.vote-buttons {
  height: 2rem;
  background-color: #0081bd;
  border-radius: 5px;
  color: white;
}

#comment-count-header {
  margin-top: 0;
}
