
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  margin: 0 auto;

  position: relative;
  margin-bottom: 10px;
  border-radius: 5px;
}


