#article-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  margin: 20px auto;
  padding-top: 20px;
  padding-left: 0;

  width: 100%;
  height: 75vh;

  border-radius: 5px;

  overflow-y: auto;
  scroll-behavior: smooth;
  box-shadow: 5px 5px 5px grey;
  background-color: rgb(230, 163, 230);
}

.single-article {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  height: auto;

  margin: 10px;

  background-color: antiquewhite;
}
.single-article:hover {
  background-color: beige;
}
#single-article-data {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  padding: 20px;
  margin: 20px auto;
  height: 75vh;

  border-radius: 5px;

  overflow-y: auto;
  scroll-behavior: smooth;

  box-shadow: 5px 5px 5px grey;
  background-color: rgb(230, 163, 230);
}
