#comments {
  text-align: left;
}
.comment-buttons {
  display: flex;
  flex-direction: row;
}
.comment {
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
  padding: 10px 10px;
  border: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#comments-section {
  padding: 10px 10px;
}

#text-area {
  width: 100%;
  height: auto;
}

#submit-button {
  height: 2rem;
  border-radius: 5px;
  background-color: #0081bd;
  color: white;
}


#comment-count-header {
  margin-top: 0;
}

