#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
  width: 80%;

  margin: 20px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  
  border-radius: 5px;

  box-shadow: 4px 4px 5px grey;
  background-color: #c9c7c7;
}
.centre-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#header > :last-child {
  margin-left: auto;
}

.title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  flex: 1;
}
