.sorting-list fieldset {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 2rem;
}

  .dropbtn {
  padding-top: 0;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

@media(max-width: 400px)
{
  .dropbtn {
  padding-top: 0;
  font-size: 16px;
  border: none;
  background-color: transparent;
  font-size: 10px;
}
}

.sorting-dropdown {
  position: relative;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1000;
}
.dropdown-content button {
  display: block;
  text-align: left;

  min-width: 200px;
  padding: 12px 16px;

  text-decoration: none;
  color: black;
}
.dropdown-content button:hover {
  background-color: #ddd;
}
.sorting-dropdown:hover .dropdown-content {
  display: block;
}
