#topic-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;

  align-items: center;
  justify-content: center;

  width: 80%;
  border-radius: 5px;

  margin: 20px auto;
  margin-bottom: 0;

  background-color: #0081bd;
  box-shadow: 4px 4px 5px grey;
}

#topic-card a {
  text-decoration: none;
  color: inherit;
}
.topic-container {
  width: 80%;
}

.topic-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;

  justify-content: space-between;
  align-items: center;

  padding: 0;
  margin: 0;

  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.topic-button {
  align-items: stretch;
  text-align: center;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 5px;
  width: auto;

  background-color: #79bcdc;
}
@media(max-width: 1115px)
{
 .topic-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;

  justify-content: center;
  align-items: center;

  padding:0;
  margin: 0;

  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.topic-button {
  align-items: stretch;
  text-align: center;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: 10px;
  margin-right: 10px;

  border-radius: 5px;
  width: auto;

  background-color: #79bcdc;
}
}




.topic-button:hover {
  background-color: rgb(76, 76, 255);
  color: white;
}
