#header {
  display: flex;
  align-items: center;      
  justify-content: center;     
  position: relative;          
  padding: 10px 20px;
  background-color: #c9c7c7;   
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  flex: 1;                     
}

.login-buttons {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;                  
}

#topic-card {
    padding-top:20px;
    padding-bottom: 20px;
  margin-left: 10%;
  width: 20%;
  height: 75vh;
  font-family: "Courier New", Courier;
  background-color: rgb(146, 192, 232);
  box-shadow: 5px 5px 5px grey;
  border-radius: 5px;
}

.topic-list {
  text-align: center;
  padding-left: 0;
}

.topic-card {
  text-align: center;
}

#article-list {
  margin-top: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(230, 163, 230);
  height: 75vh;
  border-radius: 5px;
  width: 60vw;
  margin-right: 10%;
  margin-left: 10px;
  box-shadow: 5px 5px 5px grey;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 20px;
}

#main-body {
  display: flex;
}

.single-article {
  display: flex;
  width: 150px;
  height: 150px;
  background-color: antiquewhite;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.single-article:hover {
  background-color: beige;
}

#single-article-data {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: rgb(230, 163, 230);

  height: 75vh;
  width: 60vw;
  margin-top: 0;
  margin-right: 10%;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;

  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 20px;
}

#comments {
  text-align: left;

}
.comment-buttons{
    display: flex;
    flex-direction: row;
}

.comment{
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
    padding-left:20px;
    border: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

